p {
    margin: 15px 0 30px;
    line-height: 1.7em;
}
.next-steps p {
    font-weight: 400;
}
h4 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1em;
    -webkit-backface-visibility: hidden;
}

